@use "variables";

.welcome-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.welcome-header {
  text-align: center;
  font-size: variables.$font-size-n;
  h1{
    margin: 0;
  }
}