@use "css-reset";
@use "app";
@use "wrapper";
@use "welcome-view";

*, *::after, *::before {
  box-sizing: border-box;
}

html {
  height: 100vh;
  font-size: 62.5%;
}

body, .App {
  min-height: 100vh;
}

button {
  margin: auto;
}